-#  This file is app/views/games/index.html.haml
%h2 All Games

-# = form_tag movies_path, :method => :get, :id => 'ratings_form' do
-#   = hidden_field_tag "title_sort", true if @title_header
-#   = hidden_field_tag ":release_date_sort", true if @date_header
-#   Include:
-#   - @all_ratings.each do |rating|
-#     = rating
-#     = check_box_tag "ratings[#{rating}]", 1, @selected_ratings.include?(rating), :id => "ratings_#{rating}"
-#   = submit_tag 'Refresh', :id => 'ratings_submit', :class => 'btn btn-primary'

<%= form_tag(games_path, :method => "get") do %>
<div class="input-group" id= "search-bar">
  <%= search_field_tag :search, params[:search], placeholder: "Enter a Sport", class: "form-control" %>
  <div class="input-group-btn" id="search-button">
    <%= button_tag "Filter", :class => 'btn btn-info glyphicon glyphicon-search', :name => nil%>
  </div>
</div>


%table#games.table.table-striped.col-md-12
  %thead
    %tr
      %th Sport Name
      %th Zip Code
      %th Start Time
      %th End Time
      %th Slots Available
  %tbody
    - @games.each do |game|
      %tr
        %td= game.sport_name
        %td= game.zipcode
        %td= game.game_start_time
        %td= game.game_end_time
        %td= game.spots_left
        %td= link_to "More about #{game.sport_name}", game_path(game)

= link_to 'Add new game', new_game_path
