-# in app/views/movies/show.html.haml

%h3 Details about #{@game.sport_name}

%ul#details
  %li
    Zip Code:
    = @game.zipcode
  %li
    Start Time:
    = @game.game_start_time.strftime("%B %d, %Y, %I:%M %p")
  %li
    Slots Left Available:
    = @game.spots_left

= button_to 'Edit', edit_game_path(@game), :method => :get, :class => 'btn btn-primary'
= button_to 'Delete', game_path(@game), :method => :delete, :confirm => 'Are you sure?', :class => 'btn btn-primary'
= button_to 'Back to Games list', games_path, :method => :get, :class => 'btn btn-primary'
